<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <% include common/title.html %>
    <% include common/stylesheets.html %>
    <% include common/javascripts.html %>
  </head>
  <body>
    <div id="wrapper">
      <div id="nav">
        <ul>
          <li><a href="/admin/home">Home</a></li>
        </ul>
        <div class="quick"><a href="/admin/post/write" title="Write Post"><span>Write</span></a></div>
      </div>
      <div id="action">
        <div><a href="/admin/posts">Post Index</a></div>
        <div><a href="/admin/post/write">New Post</a></div>
        <hr>
        <div><a href="/admin/pages">Page Index</a></div>
        <div><a href="/admin/page/write">New Page</a></div>
        <hr>
        <div><a href="/admin/comments">Comment Index</a></div>
        <div><a href="/admin/verifyAkismet" target="_blank">Verify Akismet</a></div>
        <hr>
        <div><a href="/admin/logout">Logout</a></div>
      </div>
      <div class="clearfix"></div>
    </div>
  </body>
</html>
