<div id="main" class="container page">
  <div class="content">
    <article class="post block">
      <h1 class="title">关于我</h1>
      <div class="entry"><p>我是 willerce，来自福建，九零后，前端工程师。</p>
<p>去过俄国，卖过皮衣，现在在天朝敲代码。前后端都搞，喜欢瞎折腾。</p>
<pre><code>var timeline = {
    2013.10~now : &#39;腾讯 ECD&#39;,
    2012.04~2013.06 : &#39;厦门同步网络&#39;,
    2010.11~2012.02 : &#39;福建游游乐科技&#39;,
    2008.06~2009.08 : &#39;俄罗斯切尔基佐沃&#39;
}

var contact= {
    email : &#39;willerce#gmail.com&#39;,
    github : &#39;http://github.com/willerce&#39;,
    twitter : &#39;http://twitter.com/willerce&#39;
}</code></pre>
</div>
    </article>
  </div>
</div>
