<div id="main" class="container page">
  <div class="content">
    <article class="post block">
      <h1 class="title">关于我</h1>
      <div class="entry"><p>Hi~ 你好，我的名字叫 zhanghaipeng，我在网络中惯用的昵称是 happen，来自广东，九零后，大三在校生。</p>
<p>我是一个很善良的人...，现正在寻找团队准备暑假的实习。</p>
<pre><code>var timeline = {
    1992.9~now : &#39;人生无时无刻都充满活力与希望&#39;,
}

var contact= {
    email : &#39;zhanghaipeng404#gmail.com&#39;,
    github : &#39;http://github.com/happen-zhang&#39;,
    blog: &#39;http://blog.csdn.net/happen_zhang&#39;
}</code></pre>
</div>
    </article>
  </div>
</div>
