<section id="main" class="container">
  <div class="content">
    <section class="posts">
      
      <article class="post block">
        <h2 class="title">
          <a href="/post/spock-alpha">Grunt GUI 工具： Spock</a>
        </h2>
        <div class="meta">
          <time>2014年2月20日</time>
        </div>
        <div class="entry"><p>在大家纷纷推出各种工具的 CLI 版本时，Spock 在这里显得有点格格不入，但我确实喜爱一目了然的 GUI 界面多一些。</p>
<p>一个原因是：搞 “外包” 并行项目太多，一次可能跑着好几个 Grunt Watch 。 </p>
<p>还有一个原因或许是 Windows 下的命令行太挫了，虽然有了 <a href="http://bliker.github.io/cmder/">Cmder</a> 后这个情况改善了好多。</p>
<p><img src="http://ww2.sinaimg.cn/mw690/49d6143agw1edprblqcybj20dm0beq3d.jpg" alt=""></p>
<p>当然，你想看任务运行的详细过程也是可以的：</p>
<div class="ReadMore"><a href="/post/spock-alpha">[阅读更多]</a></div></div>
      </article>
      
      <article class="post block">
        <h2 class="title">
          <a href="/post/2013">启程，2014</a>
        </h2>
        <div class="meta">
          <time>2013年12月31日</time>
        </div>
        <div class="entry"><p>早上看到QQ邮箱博客发来的订阅邮件<a href="http://blog.mail.qq.com/?p=5405">《启程，2014》</a>，猛得想起 2013 马上就要过去了，习惯性地打开文章存档，想看看去年的总结，自己列的 2013 TodoList，却怎么也找不着，记不起去年的这个时候因为什么原因没有写下总结，但对我来说，今年确实是非常动荡曲折的一年，有必要花点时间记下它。</p>
<div class="ReadMore"><a href="/post/2013">[阅读更多]</a></div></div>
      </article>
      
      <article class="post block">
        <h2 class="title">
          <a href="/post/grunt-option">巧用 Grunt Options</a>
        </h2>
        <div class="meta">
          <time>2013年10月23日</time>
        </div>
        <div class="entry"><p>感谢<a href="http://bigc.at/">大猫</a>，博客终于有内容写了。</p>
<p>工作目录是这样的！</p>
<pre><code>/* Workspace Structure
├── proj-A
│   ├── css
│   ├── img
│   ├── node_modules
│   ├── Gruntfile.js
│   └── package.json
├── proj-B
│   ├── css
│   ├── img
│   ├── node_modules
│   ├── Gruntfile.js
│   └── package.json
├── proj-C
│   ├── css
│   ├── img
│   ├── node_modules
│   ├── Gruntfile.js
│   └── package.json
└── README.md
*/</code></pre>
<p><strong>重构的项目一般有以下特点：</strong></p>
<ul>
<li>各种大小项目加起来绕地球好几圈儿（<a href="http://zlz.im/">@hzlzh</a>发音）</li>
<li>项目目录一致，因为团队都有房事指南</li>
<li>Grunt 常用任务就那么几个，任务配置高度一致</li>
</ul>
<p><strong>不是我们事儿逼，看这些真的很不爽：</strong></p>
<ul>
<li>node_modules, Gruntfile.js 高度一致，你怎么受得鸟？</li>
<li>对于重构来说 package.json 接近残废，这里的作用 npm install 提供依赖</li>
<li>每次优化任务配置，带来的是几十个项目配置文件同时修改</li>
<li>NPM Task Module 更新，每个项目都得跑一次 npm update</li>
</ul>
<p><strong>于是我们希望达到这样的效果：</strong></p>
<ul>
<li>workspace 下保留一份 node_modules, Gruntfile.js, package.json</li>
<li>必须支持个别项目独特立行的 task target.</li>
</ul>
<p>前戏太久，硬货来了~~~~</p>
<div class="ReadMore"><a href="/post/grunt-option">[阅读更多]</a></div></div>
      </article>
      
      <article class="post block">
        <h2 class="title">
          <a href="/post/run-grunt-in-IDEA">IDEA 中运行 Grunt 任务</a>
        </h2>
        <div class="meta">
          <time>2013年8月23日</time>
        </div>
        <div class="entry"><p>前端开发已经离不开 <a href="http://willerce.com/post/grunt">Grunt</a> 了，所以，继续武装  IDEA。之前写的 <a href="http://willerce.com/post/intellij-external-tools">IDEA 使用外部工具</a> 中介绍的方法已经可以实现<a href="http://stackoverflow.com/questions/17059487/how-to-setup-grunt-in-webstorm-on-windows">调用 Grunt 命令</a>了，Grunt 任务大多是根据项目走的，而外部工具是全局定义的，稍显麻烦。IDEA 本身又支持运行、调试 Node.js 。所以我们可以通过配置运行项直接调用 Grunt。</p>
<h3 id="-">环境要求</h3>
<p>Node.js 开发运行环境，<a href="http://willerce.com/post/windows-install-nodejs-and-npm">Windows童鞋，NodeJS 环境配置教程</a>，*nux 的童鞋自找教程。</p>
<p>IDEA 需要安装 Node 插件，如果是 WebStorm 好像已经自带 NodeJS 了。</p>
<pre><code>Settings &gt; Plugins &gt; Browse Repositories &gt; 搜索 NodeJS 右键 download and install</code></pre>
<p>安装 grunt cli  工具</p>
<pre><code>npm install grunt-cli</code></pre>
<h3 id="-">配置运行</h3>
<p>创建一个新的 Node.js 运行/调试配置：<code>Run-&gt;Edit configurations</code>，左侧点 + 图标，选择 Node.js</p>
<ul>
<li>Path To Node 选择你的 Nodejs 目录</li>
<li>Working Directory 选择你的 Gruntfile.js 文件所在的目录</li>
<li>Path to Node App JS File 选择你的 Grunt CLI 路径</li>
<li>Application Parameters 选择你要加的参数，一般就是你要运行的 Task Name 啦</li>
</ul>
<p>以上路径，你如果不知道具体路径，阅读：<a href="http://willerce.com/post/windows-install-nodejs-and-npm">Windows，NodeJS 环境配置</a>，墙裂进入强迫症模式，自定义 node, npm 的目录。</p>
<p>*nux 用户可以使用 which 命令找到路径</p>
<pre><code class="lang-shell">$ which node
/usr/local/bin/node

$ which grunt
/usr/local/bin/grunt</code></pre>
<p>这是我在 Mac OS X 上的配置：</p>
<p><img src="http://s.willerce.com/uploads/2013/08/grunt-on-idea.png" alt="use grunt in IDEA"></p>
</div>
      </article>
      
      <article class="post block">
        <h2 class="title">
          <a href="/post/road-to-cocos2d-x-learning">Cocos2d-x 踩坑之路</a>
        </h2>
        <div class="meta">
          <time>2013年8月23日</time>
        </div>
        <div class="entry"><p>小白学习新知识的路上，总会踩到各种各样大大小小的坑。特别是那种小坑花了你一天，甚至几天的时间时，除了 F<strong>**</strong>k My Life 还能怎么样？</p>
<h3 id="-">触摸、鼠标事件名称之坑</h3>
<p><strong>问题</strong>：触摸、鼠标事件不响应（Native 应用）</p>
<p><strong>原因</strong>：Cocos2d 2.1 修改了 <code>isTouchEnabled</code>、<code>isAccelerometerEnabled</code>、<code>isMouseEnabled</code>、<code>isKeyboardEnabled</code> 事件名，去掉了前面的 <code>is</code>。Cocosbuilder 生成的 CCB 文件中的事件属性值顺势改了过来了。巴特，Cocos2d-x 没改，依然在使用 is<strong><em>*</em></strong>，这是有多么坑爹啊！！！自家的 CocosStudio 还不太成熟哇，跟着你老爹走不好么，幸运的事，修复起来还是简单的。</p>
<p><strong>解决方法</strong>：</p>
<p>打开  <code>{cocos2d-x-source-path}/extensions/CCBReader/CCLayerLoader.cpp</code>，将</p>
<pre><code class="lang-cpp">#define PROPERTY_TOUCH_ENABLED &quot;isTouchEnabled&quot;
#define PROPERTY_ACCELEROMETER_ENABLED &quot;isAccelerometerEnabled&quot;
#define PROPERTY_MOUSE_ENABLED &quot;isMouseEnabled&quot;
#define PROPERTY_KEYBOARD_ENABLED &quot;isKeyboardEnabled&quot;</code></pre>
<p>替换为</p>
<pre><code class="lang-cpp">#define PROPERTY_TOUCH_ENABLED &quot;touchEnabled&quot;
#define PROPERTY_ACCELEROMETER_ENABLED &quot;accelerometerEnabled&quot;
#define PROPERTY_MOUSE_ENABLED &quot;mouseEnabled&quot;
#define PROPERTY_KEYBOARD_ENABLED &quot;keyboardEnabled&quot;</code></pre>
<h3 id="js-controller-custom-class-">JS Controller 与 Custom class 之坑</h3>
<p><strong>错误</strong>：Unexpected property: &#39;touchEnabled&#39;   (WEB)</p>
<p><strong>错误</strong>：Assertion failed: (ccNodeLoadersIterator != this-&gt;mCCNodeLoaders.end()), function getCCNodeLoader, file /Cocos2d-project/proj.ios/../../../extensions/CCBReader/CCNodeLoaderLibrary.cpp, line 67. （Native 应用）</p>
<p><strong>原因</strong>：CCB 层绑定的对象错误，目前 Cocos2d-x 可以使用的语言有：c++, javascript, lua ，需要根据你的语言绑定到对应的类/控制器。</p>
<p><strong>解决方法</strong>：</p>
<p>在 CocosBuilder 右侧的 Code Connections 可以看到对应的是 JS Controller 或者 Custom class，请根据你的语言使用对应的属性，切换代码连接：<code>CocosBuilder Menus -&gt; Document -&gt; JavaScript Controlled</code></p>
<p>使用 Lua 的童鞋看这里：<a href="https://github.com/shawnclovie/cocos2dx-LuaProxy">https://github.com/shawnclovie/cocos2dx-LuaProxy</a></p>
<hr>
<p>BTW：研究 cocos2d-x 这货已经好一阵子了，因为不懂 c++ 懂点 JS，于是在语言果断选择 JS 了。 但是目前 JS 方面的资料真的太少太少了。之前已经踩过不少坑了，出于人道主义，天坑列表会不断更新。</p>
</div>
      </article>
      
      <article class="post block">
        <h2 class="title">
          <a href="/post/bye-tongbu">再见，同步</a>
        </h2>
        <div class="meta">
          <time>2013年6月25日</time>
        </div>
        <div class="entry"><p>2012.04.22，我孑身一人来到厦门，第二天，我到同步就职。</p>
<p>在同步这一年多，特别特别要感谢的是我的老大 Vincent Qiu！</p>
<p>再见，同步。再见，哎尔娇宜。</p>
</div>
      </article>
      
      <article class="post block">
        <h2 class="title">
          <a href="/post/grunt">Grunt 使用指南</a>
        </h2>
        <div class="meta">
          <time>2013年5月26日</time>
        </div>
        <div class="entry"><p>Grunt 是一个基于 NodeJS 的项目的自动化构建工。目前可以用的插件非常丰富，足以应对大多项目中的需要。CofeeScript, handlebars, jade, less, REQUIRE.JS 等知名开源项目都在使用。</p>
<p>日常开发中，我们常使用 Grunt 协助完成以下任务：</p>
<ul>
<li>自定义项目模版、快速搭建</li>
<li>代码压缩、合并、部署</li>
<li>代码校验、测试</li>
<li>静态服务器</li>
</ul>
<h3 id="-">安装</h3>
<p>Grunt 目前的最新版本是 0.4.x，Grunt 和 Grunt 插件都使用 NPM 进行管理，需要安装于 Node.js 0.8.0 以上版本。NodeJS 安装请参考：<a href="http://willerce.com/post/windows-install-nodejs-and-npm">Windows，NodeJS 环境配置</a></p>
<p>如果之前安装过 0.4.x 以下版本，需要先卸载。</p>
<div class="ReadMore"><a href="/post/grunt">[阅读更多]</a></div></div>
      </article>
      
      <article class="post block">
        <h2 class="title">
          <a href="/post/jst-and-javascript-concat">合并 Template 和 Javascript</a>
        </h2>
        <div class="meta">
          <time>2013年5月18日</time>
        </div>
        <div class="entry"><p>目前手头上负责的项目已经开发两年多了，刚开始那会儿，require.js 大家还不太熟悉，backbone 还没周岁，项目的模块化加载是基于 head.js 基础上加入了 css 加载的几近纯手工方式，打包的时候，需要根据用途进行JS合并。使用的是模版引擎是 underscore 自带的 tempalte。</p>
<h3 id="-">项目原有的加载问题</h3>
<p>模版的获取、渲染流程是这样的</p>
<p>通过工具中定义了一个获取模版文件的方法<code>CustomGetTemplateFn</code></p>
<pre><code class="lang-js">//utils.js
var CustomGetTemplateFn = function (templateFileName){
    var template = $.ajax({
        url: &quot;./template/&quot; + templateFileName + &quot;.tpl&quot;,
        dataType: &quot;script&quot;,
        async: false
    });

    return _.template(template);
}</code></pre>
<p>图片模块中使用到了模版文件 book.html</p>
<div class="ReadMore"><a href="/post/jst-and-javascript-concat">[阅读更多]</a></div></div>
      </article>
      
      <article class="post block">
        <h2 class="title">
          <a href="/post/the-views-of-jade">对 Jade 的一些看法</a>
        </h2>
        <div class="meta">
          <time>2013年3月31日</time>
        </div>
        <div class="entry"><p>作为 Express 的默认模版，Jade 进入了我的视野，如同习惯了 Javascript 的语法，再见到 Coffescript 时的惊艳。优雅、简单是对 Jade 的第一印象，在 Github 上拥有4K的Star足见其受欢迎的程度。</p>
<p>我在刚开发 Noderce 时就用上了 Jade，经过一番学习使用起来倒没有什么问题，但使用 Jade 这个过程并不像想象中的愉快，我遇到了一些的问题，并且耗费在写HTML上的时间有所增加。在之后的 Node.js 项目中我改用 EJS，非常的舒适习惯、效率很高。</p>
<p>我整理了自己使用 Jade 后的一些看法，希望对大家在选择模版引擎时有所帮助。</p>
<h3 id="-">不能减少你的输入</h3>
<p>这是 Jade 官网给的示例</p>
<div class="ReadMore"><a href="/post/the-views-of-jade">[阅读更多]</a></div></div>
      </article>
      
      <article class="post block">
        <h2 class="title">
          <a href="/post/whatsinput">WhatsInput，一款安卓输入法，手机的无线键盘</a>
        </h2>
        <div class="meta">
          <time>2013年1月31日</time>
        </div>
        <div class="entry"><p><img src="http://s.willerce.com/uploads/2013/01/whatsinput.png" style="float:right;" />
WhatsInput，是一款输入法，通过 WIFI，使你的PC键盘向手机输入内容。</p>
<ol>
<li>漂亮的 ICON</li>
<li>简单的输入界面</li>
</ol>
<p>希望 WhatsInput 可以在某个情景中，帮助你一些。</p>
<ol>
<li>使用一些移动互联网的 IM 类应用时，假如：陌陌，WhatsApp，KiK 等</li>
<li>轻量级短信快速的输入方案</li>
<li>安卓应用测试时，需要内容输入</li>
<li>....</li>
</ol>
<p><strong>使用方法：</strong></p>
<ol>
<li>在设置中启用 WhatsInput</li>
<li>在需要使用时切换到 WhatsInput 输入法，这时你会看到类似这样的地址： <a href="http://192.168.1.100:6688">http://192.168.1.100:6688</a></li>
<li>在浏览器中打开</li>
<li>支持 Enter 和 TAB 键</li>
</ol>
<p>Google Play 地址：<a href="https://play.google.com/store/apps/details?id=com.buscode.whatsinput">https://play.google.com/store/apps/details?id=com.buscode.whatsinput</a></p>
</div>
      </article>
      
      <div class="navigation block">
        <table width='100%'>
          <tbody>
            <tr>
              <td width='120' align='left'>
                
              </td>
              <td width='auto' align='center'>
                <strong class="fade">
                  1/20
                </strong>
              </td>
              <td width='120' align='right'>
                
                <div class="alignright">
                  <a href="/page/2">下一页</a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
  </div>
</section>
