<div id="main" class="container post">
  <div class="content">
    <article class="post block">
      <h1 class="title"><%= post.title %></h1>
      <div class="meta"><time datetime="<%= post.created %>"><%= locals.moment(post.created).format('YYYY-MM-DD') %></time></div>
      <div class="entry"><%- locals.marked(post.content) %></div>
      <div class="tags">
        <p>
          <% if (0 !== post.tags.length) { %>
          Tags:
            <% post.tags.forEach(function(tag, i) { %>
              <% if (i === (post.tags.length - 1)) { %>
              <a href="/tag/<%= tag.name %>"><%= tag.name %></a>
              <% } else { %>
              <a href="/tag/<%= tag.name %>"><%= tag.name %></a>，
              <% } %>
            <% }); %>
          <% } %>
        </p>
      </div>
    </article>
    <% if (0 !== post.comments.length) { %>
    <div id="comments" class="block">
      <ol class="commentlist">
        <% post.comments.forEach(function(comment, i) { %>
        <%   if (false === comment.isSpam) { %>
        <li id='comment-<%= comment._id %>' class='comment clearfix'>
          <img src="<%= locals.gravatar.url(comment.email, { s: '36', r: 'pg', d: 'mm' }) %>" width='36' height='36' class='avatar' alt="">
          <div class="content">
            <div class="info">
              <% if (!comment.website) { %>
              <span class="reviewer"><%= comment.author %></span>
              <% } else { %>
              <a href="<%= comment.website %>" class="reviewer" url='external nofollow'><%= comment.author %></a>
              <% } %>
              <time datetime='<%= comment.created %>'><%= locals.moment(comment.created).format('YYYY-MM-DD HH:mm') %></time>
              <div class="floor"><%= i + 1 %></div>
            </div>
            <div id="commentbody-53684" class='description' itemprop='description'><%- locals.marked(comment.content) %></div>
          </div>
        </li>
        <%   } %>
        <% }); %>
      </ol>
    </div>
    <% } %>
    <div id="reply" class="block inner">
      <form action="/comment" method='post' id="cmtform">
        <div id="respond" class="clearfix">
          <div id="reviewer-info">
            <div class="row">
              <input type="text" name='author' value='' size='24' tabindex='1' required='' id="author" class="textfield">
              <label for="author" class="small">Name (required)</label>
            </div>
            <div class="row">
              <input type="text" name='email' value='' size='24' tabindex='2' required='' id="email" class="textfield">
              <label for="email" class="small">E-mail (required)</label>
            </div>
            <div class="row">
              <input type="text" name='website' value='' size='24' tabindex='3' id="url"  placeholder="http://" class="textfield">
              <label for="url" class="small">Website（must begin with http://）</label>
            </div>
            <div class="row">
              <textarea name="content" id="comment" cols="50" rows="7" tabindex='4'></textarea>
            </div>
            <div class="row">
              <input id="comment-submit" name='submit' type='submit' tabindex='5' value='Post Comment' class="button">
              <input type="hidden" name='id' value='<%= post._id %>'>
              <input type="hidden" name='slug' value='<%= post.slug %>'>
              <input type="hidden" name='token' value='<%= token %>'>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
